# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,linux,elixir,erlang,fsharp,haskell,metals,scala
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,linux,elixir,erlang,fsharp,haskell,metals,scala
.exercism
### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

### Elixir Patch ###

### Erlang ###
.eunit
*.o
*.plt
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

### fsharp ###
lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
/build/
*.exe
!.paket/paket.bootstrapper.exe
.ionide/
.config/
### Haskell ###
dist
dist-*
cabal-dev
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### Metals ###
.metals/
.bloop/
project/**/metals.sbt
project/
target/
.scalafmt.conf
### Scala ###
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### VisualStudioCode ###
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,linux,elixir,erlang,fsharp,haskell,metals,scala

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

